---
import Layout from '../layouts/Layout.astro';
import RepoTitle from '../components/RepoTitle.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="John Ogletree - Digital Artist & Designer" description="Portfolio and personal website of John Ogletree, a digital artist and designer based in Martinez, GA. Showcasing UI design, UX research, prototyping, and frontend development." keywords="John Ogletree, Digital Artist, Designer, UI Design, UX Research, Prototyping, Frontend Development, Martinez GA, Portfolio">
    <div class="readme-container">
        <header class="readme-header">
            <Navigation />
            <div class="header-left">
                <RepoTitle repoName="john-ogletree/Echo" />
            </div>
        </header>

        <main class="readme-body">
            

            

            

            <div class="content-container">
                
        </main>
    </div>
</Layout>


