---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="John Ogletree - Digital Artist & Designer" description="Portfolio and personal website of John Ogletree, a digital artist and designer based in Martinez, GA. Showcasing UI design, UX research, prototyping, and frontend development." keywords="John Ogletree, Digital Artist, Designer, UI Design, UX Research, Prototyping, Frontend Development, Martinez GA, Portfolio">
    <div class="readme-container">
        <main class="readme-body">
            <div class="banner-container">
                <p class="banner-text m-0 font-medium text-[1.1rem]">This is a banner! ✨</p>
            </div>
        </main>
    </div>
</Layout>