---
interface Props {
    label: string;
    icon: string;
    className?: string;
    [key: string]: any;
}

const { label, icon, className, ...rest } = Astro.props;
---

<button class:list={["button", className]} aria-label={label} {...rest}>
    <Fragment set:html={icon} />
</button>

<style>
    .button {
        background: none;
        border: none;
        color: var(--color-text);
        padding: 0.5rem;
        cursor: pointer;
        z-index: 100;
    }
</style>