---
import { HomeIcon, ProfileIcon, CapabilitiesIcon, CreationsIcon, LogIcon, CredentialsIcon, ExplorerIcon, GitHubIcon, LinkedInIcon, DribbbleIcon, ConnectIcon } from '../icons/index.astro';
---
<ul class="nav-links">
    <li><a href="/"><HomeIcon /><span>Start</span></a></li>
    <li><a href="/bio/index"><ProfileIcon /><span>Profile</span></a></li>
    <li><a href="/services/index"><CapabilitiesIcon /><span>Capabilities</span></a></li>
    <li><a href="/projects/index"><CreationsIcon /><span>Creations</span></a></li>
    <li><a href="/thoughts/index"><LogIcon /><span>Log</span></a></li>
    <li><a href="/resume/index"><CredentialsIcon /><span>Credentials</span></a></li>
    <li><a href="/forms/index"><ConnectIcon /><span>Connect</span></a></li>
    <li><a href="/directory/index"><ExplorerIcon /><span>Explorer</span></a></li>
</ul>
<ul class="nav-socials">
    <li><a href="https://github.com/john-ogletree" aria-label="GitHub Profile">
        <GitHubIcon />
    </a></li>
    <li><a href="https://www.linkedin.com/in/john-ogletree-6b8773379/" aria-label="LinkedIn Profile">
        <LinkedInIcon />
    </a></li>
    <li><a href="https://dribbble.com/john-ogletree" aria-label="Dribbble Profile">
        <DribbbleIcon />
    </a></li>
</ul>