---
const { title } = Astro.props;
---
<div class="projects">
  <h2>{title}</h2>
  <div class="projects-grid">
    <slot />
  </div>
</div>

<style>
  .projects {
    margin-top: 2rem;
  }

  .projects h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>
