---
import { repoIcon } from './icons';

interface Props {
    repoName: string;
}

const { repoName } = Astro.props;
---

<div class="repo-title">
    <Fragment set:html={repoIcon} />
    <a href="/" class="font-bold">{repoName}</a>
</div>

<style>
.repo-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
}
.repo-title a {
    color: var(--color-text);
    font-weight: 700;
}
.icon-repo {
    fill: var(--color-text-light);
}
</style>
