---
interface Props {
	title: string;
	description: string;
	keywords?: string;
}

const { title, description, keywords } = Astro.props;

---

<!doctype html>
<html lang="en" class="w-full h-full scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="google-adsense-account" content="ca-pub-7831492918307392">
		{keywords && <meta name="keywords" content={keywords} />}
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style is:global>
			@import '../styles/tailwind-base.css';
		</style>
	</head>
	<body class="w-full h-full bg-bg text-text font-mono text-base leading-relaxed transition-transform duration-300 ease-in-out m-0 p-0">

		<slot />
	</body>
</html>



